body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > h1 {
  margin-left: 10px;
}
.nav-list > ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding-right: 20px;
}
.main-img {
  width: 75vw;
  height: 85vh;
  border: solid black 2px;
  margin-top: 10px;
  cursor: pointer;
}

.target-box {
  display: none;
  position: absolute;
  gap: 5px;
  align-items: center;
  /*top: 70%;
  left:63%;*/
}

.character-list {
  justify-self: flex-start;
  text-align: left;
  border: 2px solid black;
  background-color: #fff;
}

.square {
  width: 60px;
  height: 60px;
  border: 4px dashed red;
  border-radius: 100%;
}
.char-name {
  cursor: pointer;
  color: black;
  background-color: white;
  border-bottom: 1px solid black;
  transition: transform 100ms ease-in-out;
}
.char-name:hover {
  transform: scale(1.1);
  border: 1px solid black;
}

.hidden {
  display: none;
}

.form-item {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  align-items: center;
  height: 150px;
}
button {
  cursor: pointer;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: larger;
}

.form-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  width: 50px;
  font-weight: bolder;
}

.character-icon {
  height: 60px;
  width: 51px;
  padding-top: 10px;
}

.character-icon-section {
  display: flex;
  gap: 20px;
  margin-left: 150px;
}

.leaderboards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leaderboard-item {
  font-size: larger;
  font-weight: lighter;
}

.leaderboard-item:hover {
  background-color: lightgray;
}

.leaderboard-item-number {
  font-weight: 400;
  padding-right: 5px;
}

td {
  cursor: pointer;
}

.leaderboard-header {
  background-color: #d92121;
  color: white;
  font-size: larger;
}
table {
  border-collapse: collapse;
  width: 350px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  transition: transform 300ms ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

#response {
  font-weight: bolder;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .character-icon-section {
    margin-left: 0;
  }

  .main-img {
    width: 1444px;
    height: 812px;
  }
  .main-img {
    width: auto;
    height: auto;
  }
  .home {
    width: fit-content;
  }
}
